p {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
}

ul li {
  list-style: none;
  font-size: 20px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
